@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-slideshow-image/dist/styles.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.h-1000px {
  height: 800px;
  background-size: cover;
  background-position: center;
}

.w-200px {
  width: 300px;
}

.h-100px {
  height: 80px;
}

.h-400px-w-600px {
  height: 280px;
  width: 380px;
}

.h-30rem-w-50rem {
  height: 30rem;
  width: 50rem;
}

.h-30rem {
  width: 14rem;
}

.w-1000px {
  width: 1000px;
}

.w-40rem {
  width: 40rem;
}

.w-600px {
  width: 600px;
}
